<main>
  <app-learning-resources />

  <hr />

  <app-auth />

  <!-- Esta es la forma que se hace sin directivas, y solo se puede usar apartir de la version 17
  @if(isAdmin()){
  <p>Soy un párrafo para administradores</p>
  }-->

  <!--Estaes una directiva estructural-->
  <!--<p *ngIf="isAdmin()">Soy un parrafo con una directiva estrucural</p>-->

  <!--Estaes una directiva hecha a mano-->

  <p *appAuth="'admin'" class="protected-content admin">
    Solo los admins ven esto
  </p>
  <p *appAuth="'user'" class="protected-content unauthenticated">
    Los usuarios ven esto
  </p>
  <p *appAuth="'guest'" class="protected-content authenticated">
    Los invitados ven esto
  </p>
</main>
